* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#ttt-board {
    background-color: red;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 20px;
    padding: 20px;
}

#ttt-board:has(> form) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tile {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

p {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    text-align: center;
}